<div class="container">
<h3>通知</h3>

        <i class="fas fa-trash" style="color: black;"></i>
        <h7 style="color: black;">全削除</h7>

    <hr>
<% if @notifications.exists? %>
    <div class="users-index">
        <%= render @notifications %>
    </div>
<% else %>
    <p>通知はありません</p>
<% end %>
<% if member_signed_in? && unchecked_notifications.any? %>
        <i class="fa fa-circle" style="color: gold;"></i>
      <% end %>
      <li>
          <%= link_to "NOTICE", notifications_path, class: "btn-default" %>
      </li>
</div>